.text-title {
    color: #f5922c !important;
}

.day-button.day-today {
  background-color: #ffdd99 !important; /* Un amarillo suave para el día actual */
  color: #333 !important;
  font-weight: bold !important;
}

.day-button.day-selected {
  background-color: #f5922c !important; /* Un azul claro para el día seleccionado */
  color: white !important;
}

.event-indicator {
  background-color: #f5922c !important; /* Un naranja brillante para el indicador de evento */
}

/* Opcional: Si deseas un estilo diferente para los días pasados con eventos */
.day-button.day-past-event {
  color: #777 !important; /* Un gris más claro para los días pasados */
}

.day-button.day-past-event .event-indicator {
  background-color: #ccc !important; /* Un gris más claro para el indicador de eventos pasados */
}

